<div class="country-information pt-5">
  <div class="container">
    <button class="py-3 px-5" [routerLink]="['/']">
      <span class="fa fa-arrow-left"></span> Back
    </button>
    <div class="row mt-5" *ngIf="country">
      <div class="col-lg-6 col-sm-12 col-xl-6 col-md-12 col-12">
        <img class="rounded" [src]="country.flag" alt="country.name" />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-5 my-auto">
        <h2 class="mb-5">{{ country.name }}</h2>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pb-5">
            <p class="mb-2">
              <strong>Native Name: </strong>{{ country.nativeName }}
            </p>
            <p class="mb-2">
              <strong>Population: </strong
              >{{ country.population | number: "1.0" }}
            </p>
            <p class="mb-2"><strong>Region: </strong>{{ country.region }}</p>
            <p class="mb-2">
              <strong>Sub Region: </strong> {{ country.subregion }}
            </p>
            <p class="mb-2"><strong>Capital: </strong> {{ country.capital }}</p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pb-5">
            <p class="mb-2">
              <strong>Top Level Domain: </strong>
              {{ country.topLevelDomain[0] }}
            </p>
            <p class="mb-2">
              <strong>Currencies: </strong> {{ country.currencies[0].name }}
            </p>
            <p class="mb-2">
              <strong>Languages: </strong>
              <span *ngFor="let language of country.languages">
                {{ language.name }},</span
              >
            </p>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <span><strong>Border Countries:</strong></span>
          <div
            *ngFor="let border of country.borders"
            class="d-inline-block py-2 px-4 m-2 rounded bordering-country"
            [routerLink]="['/country/', border]"
            (click)="getCountryInfo()"
          >
            <span>{{ border }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
