.country-card {
  border-radius: 12px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  height: 25rem;
  max-height: 25rem;
  img {
    height: 10rem;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .content {
    padding: 1em;
  }
}
