@import "../../styles/variables.scss";
.home {
  min-height: 100vh;
  input {
    border-left: none;
  }
  .input-group-text {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .dropdown {
    height: 3rem;
    padding: 0.7em;
    &-list {
      list-style-type: none;
      top: 3.2em;
    }
  }
}
