<div class="country-information pt-5">
  <div class="container">
    <button [routerLink]="['/']">
      <span class="fa fa-arrow-left"></span> Back
    </button>
    <div class="row mt-5" *ngIf="country">
      <div class="col-lg-6 col-sm-12 col-xl-6 col-md-12 col-12">
        <img [src]="country.flag" alt="country.name" />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-5">
        <h3>{{ country.name }}</h3>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <p><strong>Native Name:</strong>{{ country.nativeName }}</p>
            <p><strong>Population:</strong>{{ country.population }}</p>
            <p><strong>Region:</strong>{{ country.region }}</p>
            <p><strong>Sub Region:</strong> {{ country.subregion }}</p>
            <p><strong>Capital:</strong> {{ country.capital }}</p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <p>
              <strong>Top Level Domain:</strong> {{ country.topLevelDomain[0] }}
            </p>
            <p><strong>Currencies:</strong> {{ country.currencies[0].name }}</p>
            <p>
              <strong>Languages:</strong>
              <span *ngFor="let language of country.languages">
                {{ language.name }},</span
              >
            </p>
          </div>
        </div>
        <div>
          <span><strong>Border Countries:</strong></span>
          <span
            *ngFor="let border of country.borders"
            class="bordering-country"
            >{{ border }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
