/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "./app/styles/variables.scss";
@import "./app/styles/helpers.scss";
@import "./app/styles/dark.scss";
@import "./app/styles/light.scss";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
}

button {
  border: none;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 700;
}

.form-control,
.input-group-text {
  border-radius: $border-radius;
}

.form-control:focus,
button:focus {
  outline: none;
  box-shadow: none;
  border-color: $border-color;
}

.form-control {
  background: inherit;
}

li.selected {
  font-weight: 700;
}
